body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
}
h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
}

a {
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 90%;
}

  .space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  @keyframes textscale {
    from {font-size:100%;}
    to {font-size:125%;}
  }
  a:hover {
  animation: textscale 0.15s ease-in-out;
  animation-fill-mode: forwards;
  }
body {
 background-image: url("win98.png");
 background-repeat: no-repeat;
}